{% extends 'stager/base.html' %}

{% block sidebar %}
    {% include 'stager/sidebar.html' %}
{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Welcome, 
            <small>{{ request.user.username }}</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Blank Page
            </li>
        </ol>
        <hr />
        {% if webhooks %}
            <h3> Currently, we're monitoring {{ webhooks|length }} webhooks </h3>
            {% for hook in webhooks %}
                <p>{{ hook }}</p>
                {% endfor %}
        {% else %}
            <h3> Let's get started monitoring your projects! </h3>
            {% if projects %}
                <small>Click in one of the projects listed below to create a new webhhok for it</small>
            {% else %}
                <small>You need to be owner or admin of a project to be able to create a webhook for it.<small>
            {% endif %}
        {% endif %}
        
        <hr />
        
        {% if projects %}
            <p>A TABLE LISTING PROJECT INFORMATION HERE</p>
        {% endif %}

    </div>
</div>
<!-- /.row -->
{% endblock %}
